/msswit2013-lab1/msswit2013-lab1.azure/bin
/msswit2013-lab1/msswit2013-lab1.azure/csx
/msswit2013-lab1/msswit2013-lab1.azure/obj
/msswit2013-lab1/msswit2013-lab1.core/obj
/msswit2013-lab1/msswit2013-lab1.core/bin
/msswit2013-lab1/msswit2013-lab1.web/obj
/msswit2013-lab1/msswit2013-lab1.web/bin
/msswit2013-lab1/msswit2013-lab1.worker/obj
/msswit2013-lab1/msswit2013-lab1.worker/bin
/msswit2013-lab1/msswit2013-lab1.v11.suo
/msswit2013-lab1/msswit2013-lab1.sln.DotSettings
/msswit2013-lab1/msswit2013-lab1.azure/*.user
